<%- include("partials/header") %>
<div class="text-center center-div mt-5">
  <div class="container w-25 border py-5">
    <div class="title pb-5">
      <h2 class="font-weight-bpld" style="color: azure;">WELCOME</h2>
    </div>
    <a href="/user" class="btn btn-outline-light btn-lg px-4">USER</a>
    <a href="/admin" class="btn btn-outline-light btn-lg px-4">ADMIN</a>
  </div>
</div>
<%- include("partials/footer") %>

